<table class="matches table table-striped full-width">
  <thead class="thead-inverse">
    <th class="left">Data</th>
    <th class="right"></th>
    <th class="left"></th>
    <th class="center">Wynik</th>
    <th class="" colspan="2"></th>
    <th class="center">Typ</th>
    <th class="center">Punkty</th>
    <th></th>
  </thead>
  <tbody>
    <% matches.each do |match| %>
    <tr>
      <td class="date left"><%= link_to match.date.in_time_zone("Poland").strftime("%d %b. %Y %H:%M"), match_path(match.id) %></td>
      <td class="right flag"><%= image_tag(match.team_a.flag_url, class: "flag") %></td>
      <td class="team_a left"><%= link_to match.team_a.name, team_path(match.team_a.id) %></td>
      <td class="center">
        <div class="score">
          <span class="event-result">
          <% if match.score_a.present? %>
            <%= match.score_a %>
            :
            <%= match.score_b %>
          <% else %>
            -:-
          <% end %>
          </span>
        </div>
      </td>
      <td class="team_b right"><%= link_to match.team_b.name, team_path(match.team_b.id) %></td>
      <td class="left flag"><%= image_tag(match.team_b.flag_url, class: "flag") %></td>
      <% prediction = match.predictions.find_by(user: current_user.id) %>
        <% if prediction && prediction.score_a.present? %>
          <td class="prediction center"><%= match.predictions.find_by(user: current_user.id).score_a %>:<%= match.predictions.find_by(user: current_user.id).score_b %></td>
          <td class="center"> <%= match.predictions.find_by(user: current_user.id).points %> </td>
          <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
        <td class="">
          <% match.channels.each do |channel| %>
            <% if channel.image_url.present? %>
              <%= image_tag channel.image_url %>
            <% end %>
          <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="see_more">
      <td colspan="9">
        <a href="">Zobacz więcej meczy...</a>
      </td>
    </tr>
  </tfoot>
</table>
