<table class="matches table table-striped full-width">
  <thead class="thead-inverse">
    <th class="left">Data</th>
    <th class="right"></th>
    <th class="left"></th>
    <th class="center" colspan="3">Wynik</th>
    <th class="right"></th>
    <th class="left"></th>
    <th class="center" colspan="3">Typ</th>
    <th class="center">Punkty</th>
  </thead>
  <tbody>
    <% matches.each do |match| %>
    <tr>
      <td class="date left"><%= link_to match.date.in_time_zone("Poland").strftime("%d %b. %Y %H:%M"), match_path(match.id) %></td>
      <td class="right flag"><%= image_tag(match.team_a.flag_url, class: "flag") %></td>
      <td class="team_a left"><%= link_to match.team_a.name, team_path(match.team_a.id) %></td>
      <td class="score_a right"><%= match.score_a %></td>
      <td class="delimeter center">:</td>
      <td class="score_b left"><%= match.score_b %></td>
      <td class="team_b right"><%= link_to match.team_b.name, team_path(match.team_b.id) %></td>
      <td class="left flag"><%= image_tag(match.team_b.flag_url, class: "flag") %></td>
      <% prediction = match.predictions.find_by(user: current_user.id) %>
        <% if prediction && prediction.score_a? %>
          <td class="user_prediction_score_a right"><%= match.predictions.find_by(user: current_user.id).score_a %></td>
          <td class="delimeter center">:</td>
          <td class="user_prediction_score_b left"><%= match.predictions.find_by(user: current_user.id).score_b %></td>
          <td class="center"> <%= match.predictions.find_by(user: current_user.id).points %> </td>
          <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
