<%= form_tag update_multiple_predictions_path, :method => :put do %>
<table class="matches table table-striped">
  <thead class="thead-inverse">
    <th class="left">Data</th>
    <th class="left"></th>
    <th class="center">Wynik</th>
    <th class="center"></th>
    <th class="center">Typ</th>
    <th></th>
  </thead>
  <tbody>
    <% matches.each do |match| %>
    <tr class="">
      <td class="date left"><%= link_to match.date.in_time_zone("Poland").strftime("%d %b. %Y %H:%M"), match_path(match.id) %></td>
      <td class="team_a left"><%= image_tag(match.team_a.flag_url, class: "flag") %><%= link_to match.team_a.name, team_path(match.team_a.id) %></td>
      <td class="center">
        <div class="score">
          <span class="event-result">
          <% if match.score_a.present? %>
            <%= match.score_a %>
            :
            <%= match.score_b %>
          <% else %>
            -:-
          <% end %>
          </span>
        </div>
      </td>
      <td class="team_b right"><%= link_to match.team_b.name, team_path(match.team_b.id) %><%= image_tag(match.team_b.flag_url, class: "flag") %></td>
      <td>
        <div class="prediction short">
          <% prediction = match.predictions.find_by(user: current_user.id) %>
            <% if prediction && !prediction.score_a.nil? && !prediction.score_b.nil? %>
            <%= match.predictions.find_by(user: current_user.id).score_a %>
            :
            <%= match.predictions.find_by(user: current_user.id).score_b %>
          <% elsif prediction && prediction.score_a? == false %>
            <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
          <% else %>
            <% prediction = Prediction.create(match: match, user: current_user) %>
            <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
          <% end %>
        </div>
      </td>
      <td class="">
        <% match.channels.each do |channel| %>
          <% if channel.image_url.present? %>
            <%= image_tag channel.image_url %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9">
        <div class="actions">
          <%= submit_tag "Aktualizuj", :class => "btn btn-primary"%>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
<% end %>
