<% if user_signed_in? == false %>
  <%= render 'jumbotron' %>
<% end %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-9">
      <h2> Ostatnie mecze </h2>
      <%= render 'user_last_matches', :matches => @LastMatches %>
      <h2> Następne mecze </h2>
      <%= render 'user_next_matches', :matches => @NextMatches %>
    </div>
    <div class="col-md-3">
      <div>
        <h2> Ranking </h2>
        <%= render 'user_standings', :users => @BestUsers %>
      </div>
      <div>
        <h2> Aktualności </h2>
        <%= render 'last_logs', :logs => @Logs %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-9">
      <h2> Ostatnie mecze </h2>
      <%= render 'matches', :matches => @LastMatches %>
      <h2> Następne mecze </h2>
      <%= render 'matches', :matches => @NextMatches %>
    </div>
    <div class="col-md-3">
      <div>
        <h2> Ranking </h2>
        <%= render 'user_standings', :users => @BestUsers %>
      </div>
      <div>
        <h2> Aktualności </h2>
        <%= render 'last_logs', :logs => @Logs %>
      </div>
    </div>
  </div>
<% end %>
