<h1>Listing predictions</h1>
<%= form_tag update_multiple_predictions_path, :method => :put do %>
<table class="matches table">
  <thead>
    <tr>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <% if prediction.user == current_user %>
          <td class="success"> <%= prediction.user.username %> </td>
        <% else %>
          <td> <%= prediction.user.username %> </td>
        <% end %>
        <td> <%= prediction.match.team_a.name %> </td>
        <% if prediction.score_a? || prediction.match.predictable? == false %>
          <td> <%= prediction.score_a %></td>
          <td>:</td>
          <td> <%= prediction.score_b %> </td>
        <% else %>
          <%= render 'prediction_form', :prediction => prediction, :match_id => prediction.match.id %>
        <% end %>
        <td> <%= prediction.match.team_b.name %> </td>
        <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <td colspan="6">
      <div class="actions">
        <%= submit_tag "Submit", :class => "btn btn-primary"%>
      </div>
    </td>
  </tfoot>
</table>
<br>
<% end %>
<!-- <%= link_to 'New Prediction', '#' %> -->
