<h1>Listing predictions</h1>

<table class="matches table">
  <thead>
    <tr>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <% if prediction.user == current_user %>
          <td class="success"> <%= prediction.user.username %> </td>
        <% else %>
          <td> <%= prediction.user.username %> </td>
        <% end %>
        <td> <%= prediction.match.team_a.name %> </td>
        <td> <%= prediction.score_a %></td>
        <td>:</td>
        <td> <%= prediction.score_b %> </td>
        <td> <%= prediction.match.team_b.name %> </td>
        <td><%= link_to 'Show', prediction %></td>
        <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
        <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Prediction', '#' %> -->
