<%= form_tag update_multiple_predictions_path, :method => :put do %>
<table class="matches table table-striped">
  <thead class="thead-inverse">
    <th class="left">Data</th>
    <th class="left"></th>
    <th class="center" colspan="3">Wynik</th>
    <th class="right"></th>
    <th class="center" colspan="3">Twój wynik</th>
    <th>pkt</th>
  </thead>
  <tbody>
    <% matches.each do |match| %>
    <% time_difference = TimeDifference.between(DateTime.now, match.date).in_days %>
    <% if time_difference < 1 %>
      <% row_class = "danger" %>
    <% elsif time_difference < 4 %>
      <% row_class = "warning" %>
    <% end %>
    <tr class="<%= row_class %>">
      <td class="date left"><%= match.date.strftime("%d %b. %Y %H:%M") %></td>
      <td class="team_a left"><%= image_tag(match.team_a.flag_url, class: "flag") %> <%= link_to match.team_a.name, team_path(match.team_a.id) %></td>
      <td class="score_a right"><%= match.score_a %></td>
      <td class="delimeter center">:</td>
      <td class="score_b left"><%= match.score_b %></td>
      <td class="team_b right"><%= link_to match.team_b.name, team_path(match.team_b.id) %><%= image_tag(match.team_b.flag_url, class: "flag") %></td>
      <% prediction = match.predictions.find_by(user: @user.id) %>
        <% if prediction && !prediction.score_a.nil? && !prediction.score_b.nil? || prediction.match.predictable? == false %>
        <td class="user_prediction_score_a right"><%= match.predictions.find_by(user: @user.id).score_a %></td>
        <td class="delimeter center">:</td>
        <td class="user_prediction_score_b left"><%= match.predictions.find_by(user: @user.id).score_b %></td>
        <td class="center">
          <%= match.predictions.find_by(user: @user.id).points %>
          <% if match.predictable? && @user == current_user && prediction.points.nil?%>
            <%= link_to 'Edit', edit_prediction_path(prediction) %>
          <% end %>
        </td>
      <% elsif prediction && prediction.score_a? == false && @user == current_user %>
        <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
        <td></td>
      <% elsif @user == current_user %>
        <% prediction = Prediction.create(match: match, user: @user) %>
        <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
        <td></td>
      <% else %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <% if @user == current_user %>
  <tfoot>
    <tr>
      <td colspan="9">
        <div class="actions">
          <%= submit_tag "Submit", :class => "btn btn-primary"%>
        </div>
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
<% end %>
