<%= form_tag update_multiple_predictions_path, :method => :put do %>
<table class="matches table table-striped">
  <thead class="thead-inverse">
    <th class="left">Data</th>
    <th class="left"></th>
    <th class="center">Wynik</th>
    <th class="right"></th>
    <th class="center">Typ</th>
    <th>pkt</th>
    <th></th>
  </thead>
  <tbody>
    <% matches.each do |match| %>

    <% prediction = match.predictions.find_by(user: @user.id) %>
    <% if prediction %>
      <% row_class = "" %>
        <% if !match.finished? %>
          <% row_class = "" %>
        <% elsif prediction.is_good_result %>
          <% row_class = "info" %>
          <% elsif prediction.is_exact_score %>
            <% row_class = "success" %>
        <% else %>
          <% row_class = "danger" %>
        <% end %>

      <tr class="<%= row_class %>">
        <td class="date left"><%= link_to match.date.in_time_zone("Poland").strftime("%d %b. %Y %H:%M"), match_path(match.id) %></td>
        <td class="team_a left"><%= image_tag(match.team_a.flag_url, class: "flag") %> <%= link_to match.team_a.name, team_path(match.team_a.id) %></td>
        <td class="center">
          <div class="score">
            <span class="event-result">
            <% if match.score_a.present? %>
              <%= match.score_a %>
              :
              <%= match.score_b %>
            <% else %>
              -:-
            <% end %>
            </span>
          </div>
        </td>
        <td class="team_b right"><%= link_to match.team_b.name, team_path(match.team_b.id) %><%= image_tag(match.team_b.flag_url, class: "flag") %></td>
          <% if prediction && !prediction.score_a.nil? && !prediction.score_b.nil? || prediction.try(:match).try(:predictable?) == false %>
          <td class="user_prediction_score_a center">
            <%= match.predictions.find_by(user: @user.id).score_a %>
            :
            <%= match.predictions.find_by(user: @user.id).score_b %>
          </td>
          <td class="center">
            <%= match.predictions.find_by(user: @user.id).points %>
            <% if match.predictable? && @user == current_user && prediction.points.nil?%>
              <%= link_to 'Edytuj', edit_prediction_path(prediction) %>
            <% end %>
          </td>
        <% elsif prediction && prediction.score_a? == false && @user == current_user %>
          <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
          <td></td>
        <% elsif @user == current_user %>
          <% prediction = Prediction.create(match: match, user: @user) %>
          <%= render 'prediction_form', :prediction => prediction, :match_id => match.id %>
          <td></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
        <td class="">
          <% match.channels.each do |channel| %>
            <% if channel.image_url.present? %>
              <%= image_tag channel.image_url %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  <% if @user == current_user %>
  <tfoot>
    <tr>
      <td colspan="9">
        <div class="actions">
          <%= submit_tag "Aktualizuj", :class => "btn btn-primary"%>
        </div>
      </td>
    </tr>
  </tfoot>
  <% end %>
</table>
<% end %>
