<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <ul class="edit_match">
      <li>
          <div class='input-group date' id='datetimepicker1'>
              <%= f.text_field :date, { class: "form-control" }%>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </li>

      <% teams_array = Team.all %>
      <li>
        <%= f.select :team_a_id, Team.all.collect {|team_a| [ team_a.name, team_a.id ] } %>
        <%= f.number_field :score_a %>
      </li>
      <li>
        <%= f.select :team_b_id, Team.all.collect {|team_b| [ team_b.name, team_b.id ] } %>
        <%= f.number_field :score_b %>
      </li>
      <div class="actions">
        <%= f.submit %>
      </div>
  </ul>
</div>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
