<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% teams_array = Team.all %>
  <%= f.select :team_a_id, Team.all.collect {|team_a| [ team_a.name, team_a.id ] } %>
  <%= f.number_field :score_a %>
  <%= f.number_field :score_b %>
  <%= f.select :team_b_id, Team.all.collect {|team_b| [ team_b.name, team_b.id ] } %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
